<ion-tabs class="tabs-icon-top">
    <ion-tab icon="ion-android-drafts" ng-click="jump('main')" title="全棉">全棉</ion-tab>
    <ion-tab icon="ion-ios-list-outline" ng-click="jump('category')" title="分类">分类</ion-tab>
    <ion-tab icon="ion-compass" ng-click="jump('community')" title="社区">社区</ion-tab>
    <ion-tab icon="ion-android-cart" ng-click="jump('cart')" title="购物车"><a  tabindex="4">购物车</a></ion-tab>
    <ion-tab icon="ion-android-person" ng-click="jump('user_center')" title="我的">我的</ion-tab>
</ion-tabs>

